.roboto-mono-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: rgb(142, 168, 195);
    color: rgb(22, 25, 37);
}

header {
    text-align: center;
    font-size: 24px;
    padding: 100px;
}

article {
    margin: 20px auto;
    width: 75%;
}

.toptriangle, .bottomtriangle {
    width: 100%;
    height: 60px;
    background-color: rgb(22, 25, 37);
}

.toptriangle {
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}

.bottomtriangle {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

div {
    overflow: hidden;
}

.profile {
    background-color: rgb(64, 110, 142);
}

.profile img {
    width: 100%;
    max-width: 350px;
    float: left;
    margin: 20px 20px 20px 0px;
}

.profile h2 {
    text-align: center;
}

.profile p {
    font-size: 18px;
    margin: 50px;
}

.resume embed {
    width: 100%;
    min-height: 350px;
    height: 1000px;
}

footer {
    padding: 20px;
    background-color: rgb(22, 25, 37);
    color: rgb(142, 168, 195);
    text-align: center;
}

footer p {
    padding: 20px;
}